@mixin text-format($font-weight, $font-size, $line-height) {
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin size($height, $width) {
  height: $height;
  width: $width;
}

@mixin reset {
  margin: 0;
  padding: 0;
}
