@import './mixins.scss';

.popup {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  @include size(100vh, 100vw);
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.4s, opacity 0.5s linear;
  &_opened {
    visibility: visible;
    opacity: 1;
  }
  &__container {
    width: 100vw;
    max-width: 430px;
    background-color: #ffffff;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  &__title {
    @include text-format(900, 24px, 29px);
    color: #545454;
    margin: 34px auto 54px;
  }
  &__form-field {
    position: relative;
  }
  &__save-button {
    @include size(50px, 358px);
    background-color: #181429;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #867ea6;
    margin: 37px 36px;
    padding: 0;
    @include text-format(normal, 18px, 22px);
    cursor: pointer;
    &:hover {
      opacity: 80%;
    }
  }
  &__text {
    @include text-format(normal, 14px, 17px);
    @include size(27px, 358px);
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0;
    margin-left: 36px;
    &:first-child {
      margin-bottom: 30px;
    }
  }

  &__close-button {
    position: absolute;
    background-image: url(../images/Close_Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    @include size(32px, 32px);
    background-color: transparent;
    top: -40px;
    right: -40px;
    border: none;
    padding: 0;
    cursor: pointer;
    &:hover {
      opacity: 60%;
    }
  }
}

@media screen and (max-width: 680px) {
  .popup__text {
    @include size(27px, 238px);
    margin-left: 22px;
  }
}

@media screen and (max-width: 680px) {
  .popup__container {
    max-width: 282px;
  }
}

@media screen and (max-width: 680px) {
  .popup__title {
    @include text-format(normal, 18px, 22px);
    margin: 25px auto;
  }
}

@media screen and (max-width: 680px) {
  .popup__save-button {
    @include size(46px, 238px);
    @include text-format(normal, 14px, 17px);
    margin: 45px 22px 25px;
  }
}
@media screen and (max-width: 680px) {
  .popup__close-button {
    @include size(20px, 20px);
    top: -36px;
    right: 0px;
  }
}
